/* MAP */

body {
  margin: 0;
  height: 100vh;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  background: #222;
  overflow: hidden;
  color: white;
}

/*GEOLOC*/
#geoloc {
  margin-top: 20px;
}

/*SEARCH*/
#search {
  margin-top: 20px;
}

/* MODAL */
.modal {
  color: black;
}
.modal-body img {
  border: 1px solid lightgrey;
}

.modal ul {
  list-style-type: none;
}

@media all and (min-width: 768px) {
  .modal-body img {
    width: 50%
  }
}

/* MAP */
svg {
  width: 100vw;
  height: 89vh;
}
path {
  fill: #555;
  cursor: pointer;
}
path.america:hover, path.america.modalcolor {
  fill: deepskyblue;
}
path.europa:hover {
  fill: pink;
}
path.africa:hover {
  fill: orange;
}
path.asia:hover {
  fill: purple;
}
path.oceania:hover {
  fill: green;
}
path.antartica:hover {
  fill: yellow;
}

